body {
    font-family: Arial, Helvetica, sans-serif;
}
table#game td {
    background-color: rgb(245, 8, 8);
    height: 200px;
    width: 200px;
    border: solid rgb(80, 240, 6) 5px;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 60pt;
}
button#restart {
    padding: 8px;
    background-color: rgb(12, 130, 240);
    font-size: 20pt;
    color: white;
    border-radius: 15px;
}